*{
    margin: 0px;
    padding: 0px;
}
.chat{
    width: 100%;
    position: relative;
    background-color: rgb(255,255,255);
    padding-top: 13%;
    padding-bottom: 25%;
    .top {
        width: 100%;
        height: 44px;
        position: fixed;
        top:0px;
        background: rgba(255, 255, 255, 0.39);
        opacity: 1;
        .van-icon {
          color: black;
        }
        .van-hairline--bottom:after {
          border-bottom-width: 0;
        }
        .van-ellipsis {
          font-size: 18px;
          font-family: PingFang SC;
          font-weight: bold;
          color: #333333;
          opacity: 1;
        }
      }
    .middle{
        width: 100%;
        background-color: rgb(255,255,255);
        .inforone{
            width: 80%;
            box-sizing: border-box;
            margin-top: 10px;
            padding-top: 10px;
            padding-left: 17px;
            display: flex;
            .head-sculpture-one{
                width: 40px;
                height: 40px;
                img{
                    width: 100%;
                }
            }
            .triangle-left{
                width: 0px;
                height: 0px;
                border-top: 6px solid transparent;
                border-right: 10px solid rgb(212, 224, 244);
                border-bottom: 6px solid transparent;
                border-left: 10px solid transparent;
                margin-top: 10px;
            }
            .message-one{
                width: 190px;
                height: 50px;
                background-color: rgb(212, 224, 244);
                border-radius: 10px;
                .text{
                    width: 150px;
                    height: 50px;
                    margin: 0px auto;
                    padding-top: 3px;
                }
            }
        }
        .infortwo{
            width: 80%;
            box-sizing: border-box;
            margin-top: 10px;
            margin-left: 20%;
            padding-top: 10px;
            display: flex;
            .head-sculpture-two{
                width: 40px;
                height: 40px;
                img{
                    width: 100%;
                }
            }
            .triangle-right{
                width: 0px;
                height: 0px;
                border-top: 6px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 6px solid transparent;
                border-left: 10px solid rgb(255,193,77);
                margin-top: 10px;
            }
            .message-two{
                width: 190px;
                height: 50px;
                background-color: rgb(255,193,77);
                border-radius: 10px;
                margin-left: 11%;
                .text{
                    width: 150px;
                    margin: 0px auto;
                    padding-top: 3px;
                }
            }
        }
    }
    .foot{
        position: absolute;
        position: fixed;
        width: 100%;
        height: 83px;
        bottom: 0px;
        background-color: rgb(251,251,251);
        .footer{
            display: flex;
            width: 90%;
            margin: 10px auto;
            .voice{
                width: 22px;
                height: 22px;
                img{
                    width: 22px;
                    height: 22px;
                }
            }
            .inp{
                width: 70%;
                input{
                    width: 98%;
                }
            }
            .add{
                width: 22px;
                height: 22px;
                img{
                    width: 22px;
                    height: 22px;
                }
            }
            .send{
                width: 40px;
            }
            .expression{
                width: 22px;
                height: 22px;
                img{
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }
}