.titls {
  width: 90%;
  margin: 0 auto 15px;
  font-size: 19px;
  font-family: PingFang SC;
  font-weight: bold;
  line-height: 26px;
  color: #333333;
  opacity: 1;
}

.contant {
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: bold;
  line-height: 20px;
  color: #333333;
  opacity: 1;
}
